.codes{
    position: relative;
    top: 30rem;
    margin: 0 auto;
    height: 20rem;
    width: auto;

        &__title{
            text-align: center;
            font-size: 3rem;
        }
        &__sub{
            text-align: center;
            @media only screen and (max-width:650px){
                width:30rem;
                display: grid;
                margin: 0 auto;

                }

                @media only screen and (max-width:500px){
                    width:20rem;
                    display: grid;
                    margin: 0 auto;
    
                    }
            
        }
        &__content{
            display: grid;
            grid-template-rows: repeat(3, min-content);
            position: relative;
            grid-template-columns: 40rem;
            @include center;
            grid-row-gap: 1rem;

            &--input{
                margin: 0 auto;
                height: 3rem;
                width: 40rem;
                border: 1px solid var(--black);
                border-radius: 5px;
                margin-top: 3rem;
                position: relative;
                font-size: 1.4rem;
                padding-left: 1.2rem;

                //change the width of the the codes input as the screen resizes
                        @media only screen and (max-width:$medium){
                            width: 30rem;
                        }
                        @media only screen and (max-width:$extra-medium){
                            width: 27rem;
                        }
                        @media only screen and (max-width:$small){
                            width: 22rem;
                        }
                        @media only screen and (max-width:$extra-small){
                            width: 20rem;
                        }       
                        @media only screen and (max-width:$extra-extra-small){
                            width: 15rem;

                        }
                    &:focus{
                        outline: none;
                        border: 3px solid var(--starbucks-green);
                    }
            }
            &--label{
                @include transition;
                font-size: 1.4rem;
                justify-self: start;

                    @media only screen and (max-width:$extra-medium){
                        margin: 0 auto;
                    }   
            }
            &--btn{
                width: 6rem;
                margin-top: 1.4rem;
                justify-self: end;
                @include button-style-one;

                    @media only screen and (max-width:$medium){
                        margin: 0 auto;
                    }  
                    &:hover{
                        background-color: var(--off-white);
                    }

            }
        }
}
// Animation for the label when the the place holder is shown
.codes__content--input:placeholder-shown + .codes__content--label {
    opacity: 0;
    transform: translateY(-5rem);
}
