.tab1-content{
    opacity: 0;
    display: none;
    transition: all .5s;
}
//Probably coukd have used an attibute selector but feel that this more clearly indicate whats happening
// check1 and its grid are not included here because it is the open default thats first visable
.check2:checked + .tab1-content{
    @include tab1-content-opacity;
}
.check3:checked + .tab1-content{
    @include tab1-content-opacity; 
}
.check4:checked + .tab1-content{
    @include tab1-content-opacity;
}
.check5:checked + .tab1-content{
    @include tab1-content-opacity;
}

.tab1-content, 
.tab1-content1{
    background-color: var(--light-green);
    position: absolute;         //Take the content (image text etc) outside the flow of the document
    width: 100vw;
    height: 21rem;
    display: grid;
    grid-template-columns: max-content 500px;
    grid-template-rows: repeat(2, max-content);
    padding-top: 1.5rem;
    @include center;
    z-index: -11;

        @media only screen and (max-width:$favorites-large){  height: 23rem; }
        @media only screen and (max-width:$large){  height: 25rem; }

        @media only screen and (max-width:$favorites-medium){  height: 27rem; }
        @media only screen and (max-width:$favorites-small){  height: 29rem; }
        

    &--image,  
    &--image1{
        grid-row: 2;
        grid-column: 1;
        width: 22rem;
        height: auto;

        //change the grid when you hit the breakpoint
        @media only screen and (max-width:$favorites-large){
            grid-row: 3;
            grid-column: 2;
            width: auto;
            height: 12rem;
        }
        @media only screen and (max-width:$extra-extra-small){
            width: auto;
            height: 10rem;         
        }
    }
    &--title, 
    &--title1{
        grid-row: 1;
        grid-column: 2;
        font-size: 1.6rem;
        margin-top:2rem;
    
        @media only screen and (max-width:$favorites-large){
            font-size: 1.4rem;
            width: 80%;
            text-align: center;
        }

        @media only screen and (max-width:$extra-extra-small){ font-size: 1rem; }
    }
    &--para,  
    &--para1{
        grid-column: 2;
        width: 60%;
        margin-top:1rem;
        grid-row: 2;
        font-size: 1.5rem;
        line-height: 2rem;

        @media only screen and (max-width:$favorites-large){
            font-size: 1.3rem;
        }
        @media only screen and (max-width:$extra-extra-small){
            font-size: 1.1rem;
        }

    }
}
.favorites{
    margin-bottom: 3rem;

    &__tabs{
        background-color: var( --super-light-green);
        width: 100vw;
        transition: all .5s;
        position: relative;
        box-shadow: 0px 5px 10px -5px  rgba(0, 0, 0, 0.24);    
    }
    &__title{
        text-align: center;
        height: 6rem;
        padding-top: 2.5rem;
        background-color: var( --super-light-green);

        @media only screen and (max-width:320px){
            font-size: 1.3rem;
            padding-left: 1.3rem;
            padding-right: 1.3rem;
    }
    }
    &__label{
        font-size: 1.8rem;
        position: relative;
        left: 35%;
        right: 50%;
        transform: translate(-35%,-50%);
        display: inline;
        margin-right: 1rem;
        cursor: pointer;

            // Creates the underline when clicking on favorites tab:
            &:active::after{
                content: " ";
                display: inline-block;
                width: 3rem;
                height: 0.3rem;
                background-color: #008248;
                position: absolute;
                top: 2.1rem;
                right: 1rem;
            }
            &:hover{
               color: var(--starbucks-green);    
           }
           @media only screen and (max-width:820px){ left: 25%; }
           
           @media only screen and (max-width:730px){ left: 30%; }

            @media only screen and (max-width:700px){ left: 25%; }

            @media only screen and (max-width:$favorites-small){
                left: 13%;
                font-size: 1.4rem;
            }

            @media only screen and (max-width:420px){
                left: 10%;
                font-size: 1.4rem;
            }

            @media only screen and (max-width:375px){
                left: 5%;
                font-size: 1.4rem;
            }

            @media only screen and (max-width:$extra-extra-small){  font-size: 1rem; }   
        //The stars
          span{ 
                color: var(--starbucks-green);
                font-size: 1.1rem;

            }
    }
}
[class^="check"]{
    opacity: 0;
    display: none;
}
 