.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    position: relative;
    top: 40rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border-top: 2px solid rgb(218, 218, 218);
    padding-top: 2rem;

    &__item{
      list-style: none;
      color: var(--starbucks-green);

        li{
          margin-bottom: 1.2rem;

            &:not(:first-child){
                @media only screen and (max-width:600px){
                    opacity: 0;
                    display: none;
                            }
                        }
                        &:first-child{
                            font-size: 1.3rem;  
                            color: black;
                        }
                }
        }
}

.footer-check{
    opacity: 0;
    display: none;  
}
.footer-label{
    position: absolute;
    right:1rem;
    opacity: 0;
    transition: all .5s;
    display: none;
      @media only screen and (max-width:600px){
          opacity: 1;
          display: block;
      }

}

.footer-check:checked + .footer-label + .footer__item li:not(:first-child){
    opacity: 1;
    display: block;
    position: relative;
}

 .footer-check:checked + .footer-label .down{
     @include footer-animate;
 }
 .footer-check:checked + .footer-label .down1{
    @include footer-animate;
 }
 .footer-check:checked + .footer-label .down3{
    @include footer-animate;
 }
 .footer-check:checked + .footer-label .down4{
    @include footer-animate;
 }
 .footer-check:checked + .footer-label .down5{
    @include footer-animate;
 }

.arrow {
    @include arrow-style;
    top: 1rem;
    left: 1rem;
  }
.arrow1{
    @include arrow-style;
    top: 4rem;
    left: 1rem;
  }
  .arrow3{
      @include arrow-style;
      top: 7rem;
      left: 1rem;
  }
  .arrow4{
      @include arrow-style;
      top: 10rem;
      left: 1rem;
  }
  .arrow5{
      @include arrow-style;
      top: 13rem;
      left: 1rem;
  }

  .down,
  .down1,
  .down2,
  .down3,
  .down4,
  .down5 {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: all .5s;

  }

