.landing{
    background-color: #f3f1e7;
    position: relative;
    z-index: -2;
    height: 100vh;
    // change the header backgrond as the browser is resized
    @media only screen and (max-width:$large){
        height: 100vh;
        background: linear-gradient(to top, 
        #008248     20%, 
        #d2a149  20%, 
        #d2a149  40%, 
        #008248      40%, 
        #008248      60%, 
        #d2a149 60%, 
        #d2a149 80%, 
        #008248    80%,
        #008248    100%
        );
    }
    @media only screen and (max-width:$extra-medium){
        height: 100vh;
        background: linear-gradient(to right, 
        #008248     20%, 
        #d2a149  20%, 
        #d2a149  40%, 
        #008248      40%, 
        #008248      60%, 
        #d2a149 60%, 
        #d2a149 80%, 
        #008248    80%,
        #008248    100%
        );
    }
        
    &__backgrond{
        position: relative;
        z-index: -2;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        @media only screen and (max-width:$large){
            opacity: 0;
            display: none;
        }
        @media only screen and (max-width:$extra-medium){
            opacity: 0;
            display: none;
        }
    }

    &__content{
        position: absolute;
        top: 50%;
        left: 10%;
        display: grid;
        grid-row-gap: 1rem;
        transform: translate(-10%,-50%);

        @media only screen and (max-width:$large){
            left: 20%;
            top: 60%;
        }
        @media only screen and (max-width:$extra-medium){
            left: 20%;
            top: 60%;
        }
        &--sub1{ 
            font-size: 1.4rem;

            @media only screen and (max-width:$large){
                font-size: 1.3rem;
                color: white;
                text-align: center;
                text-shadow: 2px 2px  #004d2a;
            }
        }
        &--sub2{ 
            font-size: 1.4rem;

            @media only screen and (max-width:$large){
                font-size: 1.3rem;
                color: white;
                text-align: center;
                text-shadow: 2px 2px  #004d2a;

            }
        }
            &--title{
                font-size: 3rem;
                width: 70%;

                @media only screen and (max-width:$large){
                    font-size: 3.6rem;
                    color: white;
                    width: 100%;
                    text-align: center;
                    text-shadow: 2px 2px  #004d2a;
                }
                @media only screen and (max-width:$extra-medium){
                    font-size: 2.3rem;
                    color: white;
                    width: 100%;
                    text-align: center;
                    text-shadow: 2px 2px  #004d2a;
                }
            }

            &--btn{
                padding: 0.7rem 1.2rem;
                border-radius: 50px;
                text-decoration: none;
                transition: all .7s;
                color: rgb(255, 255, 255);
                background-color: var(--starbucks-green);
                width: 25%;
                font-size: 1.3rem;
                text-align: center;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                   
                &:hover{
                    color: black;
                }
                
                @media only screen and (max-width:$large){
                    margin: 0 auto;
                    width: 60%;
                    background-color: #ffffff;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    color: var(--starbucks-green);
                    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

                }
             }
         }
    }

.landing-popup{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    z-index: 10000;
    top: 0;
    left: 0;
    transition: all .7s;

        &:target{
            opacity: 1;
            visibility:visible;
        }

        &--close{
            font-size: 1.3rem;
            text-decoration: none;
            color: rgb(255, 255, 255);
            padding: 0.5rem 1rem;
            background-color: var(--starbucks-green);
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                span{
                    font-size: 2rem;
                }
    }
        &--content{
            width: 70%;
            height: 50%;
            display: block;
            position: absolute;
            top: 50%;
            border-radius: 5px;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgb(255, 255, 255);
            padding: 1rem;

                &-text{
                    @include center;
                    display: grid;
                    grid-template-columns: max-content;
                    grid-row-gap: 1rem;
                    position: relative;
                    color: rgb(170, 170, 170);
                    margin-top: 1.7rem;

                        &--input{
                            width: 25rem;
                            height: 2.8rem;
                            border-radius: 5px;
                            border: none;
                            background-color: rgb(233, 233, 233);
                            padding-left: 1rem;
                            box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
                            color: #004d2a;
                            font-size: 1rem;
                            @media only screen and (max-width:$favorites-medium){
                                width: 20rem;
                            }
                            @media only screen and (max-width:$favorites-small){
                                width: 15rem;
                            }
                            @media only screen and (max-width:360px){
                                width: 13rem;
                            }
                        }
                        &--btn{
                            text-decoration: none;
                            color: rgb(255, 255, 255);
                            padding: 0.5rem 1rem;
                            background-color: var(--starbucks-green);
                            border-radius: 50px;
                            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                        }
                }
              
        }

}