@mixin center {
    justify-content: center;
    justify-items: center;
    align-content: center;
}
@mixin transition{
    transition: all .5s;

}
@mixin burger-style{
    display: block;
    width: 2rem;
    height: 0.2rem;
    background-color: gray;
    border-radius: 55px;
    transition: all .8s;
}
@mixin button-style-one{
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--black);
    border-radius: 50px;
    text-decoration: none;
    @include transition;
    color: var(--black);
    text-align: center;

}

@mixin tab1-content-opacity{
    opacity: 1;
    display: grid;
}
@mixin arrow-style{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
    transition: all .5s;
    position: relative;
}
@mixin footer-animate{
    transform: rotate(-140deg);
    -webkit-transform: rotate(-140deg);
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.2;
    }
    40%{
        opacity: 0.4;
    }

    60%{
        opacity: 0.6;
    }

    80%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}
@mixin button-style-starbucks-green{
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    text-decoration: none;
    transition: all .7s;
    color: black;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: var(--starbucks-green);
    color: white;
}
body{
    animation-name: fadein;
    animation-duration: 2s;
}
