.navigation{
    height: 6rem;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100vw;
    z-index: 100;

&__background{
    width: 4rem;
    height: 2rem;
    transition: all .3s;
    background-color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    z-index: -22;
    top: 0.7rem;
    padding-left: 0.5rem;
    right: -1rem;
}
&__hamburger{
    position: absolute;
    top: 3rem;
    right: 2rem;
    opacity: 0;
    display: none;
    cursor: pointer;

       @media only screen and (max-width:$gifts-medium){
            opacity: 1;
            display: block;
       
     }
     @media only screen and (max-width:420px){
       opacity: 0;
       display: none;
    }
        &--check{
            opacity: 0;
            display: none;
        }
        &--label{
            position: relative;
            z-index: 2300;
         
            &-1{
                @include burger-style;
                margin-bottom: 0.31rem;
            }
            &-2{
                @include burger-style;
                margin-bottom: 0.31rem;  
            }
            &-3{
                @include burger-style;
            }
        }
    }
}
.nav{
    display: block;
    list-style: none;   
       
    @media only screen and (max-width:360px){
       margin-left: 3rem;
     }
    &__right{
        float: right;

        @media only screen and (max-width:$gifts-medium){
           opacity: 0;
           display: none;
        }
    }
    &__img{
        width: 4rem;
        height: 4rem;
        float: left;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 1.5rem;

        @media only screen and (max-width:$gifts-medium){
            width: 3rem;
            height: 3rem;
        }
        @media only screen and (max-width:360px){
            opacity: 0;
            display: none
          }
    }
    &__list{
        float: left;
        margin-top: 2.5rem;
        margin-left: 0.4rem;
    
        &--gift{
            &::before{
                content: " ";
                width: 4.5rem;
                height: 1rem;
                position: absolute;
                display: block;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                top: 5rem;
                left:18rem;
                background: linear-gradient(to right, 
                #008248     20%, 
                #d2a149  20%, 
                #d2a149  40%, 
                #008248      40%, 
                #008248      60%, 
                #d2a149 60%, 
                #d2a149 80%, 
                #008248    80%,
                #008248    100%
                );  
                
                @media only screen and (max-width:800px){
                    left:17rem;
                }
                @media only screen and (max-width:360px){
                    left:13rem;
                }
               
            }
          
        }
        &--men2{
            &::before{
                content: " ";
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                position: absolute;
                display: block;
                top: 5rem;
                left:12.6rem;
                width: 4rem;
                height: 1rem;
                background: linear-gradient(to right, 
                #008248     20%, 
                #d2a149  20%, 
                #d2a149  40%, 
                #008248      40%, 
                #008248      60%, 
                #d2a149 60%, 
                #d2a149 80%, 
                #008248    80%,
                #008248    100%);
                @media only screen and (max-width:780px){
                    left:11.3rem;
                }
                @media only screen and (max-width:375px){
                    left:11rem;
                }

                @media only screen and (max-width:360px){
                    left:7.5rem;
                }
            }
        }
            &--men{
            
                &::after{
                    content: " ";
                    width: 4rem;
                    height: 1rem;
                    position: absolute;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    display: block;
                    top: 5rem;
                    left:8rem;
                    background: linear-gradient(to right, 
                    #008248     20%, 
                    #d2a149  20%, 
                    #d2a149  40%, 
                    #008248      40%, 
                    #008248      60%, 
                    #d2a149 60%, 
                    #d2a149 80%, 
                    #008248    80%,
                    #008248    100%
                    );    

                    @media only screen and (max-width:808px){
                        left:7rem;
                    }
                    @media only screen and (max-width:360px){
                        left:3rem;
                    }
                }
               
            }

       
       
    }
    &__link{
        text-decoration: none;
        margin-right: 0.7rem;
        font-weight: 700;
        color: black;
        transition: all .7s;
        &:hover{
            color: var(--starbucks-green);;
        }

        &--sign{
            margin-right: 1rem;
            padding: 0.5rem 1.5rem;
            border-radius: 50px;
            text-decoration: none;
            transition: all .7s;
            color: black;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            background-color: var(--starbucks-green);
            color: white;
                &:hover{
                   border: 1px solid #3e8d78;
                }
        }
        &--join{
            padding: 0.5rem 1.5rem;
            border: 1px solid black;
            border-radius: 50px;
            text-decoration: none;
            color: rgb(255, 255, 255);
            background-color: #000000;
            margin-right: 3rem;
            transition: all .7s;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

            &:hover{
                border: 1px solid #3e8d78;
            }
        }
            &--location{
                color: black;        
            }
            &--img{
                width: 1.5rem;
                height: 1.5rem;
        
                &:hover{
                    filter: invert(27%) sepia(94%) saturate(1449%) hue-rotate(134deg) brightness(91%) contrast(101%);
                }
        
            }
    }
}

.rewards{
    background-color: #1e3932;
    width: 100vw;
    height: 3rem;
    position: fixed;
    top: 6rem;
    color: white;
    display: block;
    font-weight: 700;
    padding-left: 3rem;
    padding-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: max-content 1fr max-content;
    @media only screen and (max-width:430px){
        height: 4rem;
        padding-bottom: 1rem;
        grid-template-columns: max-content;
        grid-template-rows: max-content max-content;
        grid-gap: 1rem;

    }

        &__join{
            opacity: 0;
            display: none;
            grid-column: 3;
            height: 2rem;
            @media only screen and (max-width:805px){
                opacity: 1;
                display: block;
                padding: 0.1rem 1rem;
                border-radius: 50px;
                text-decoration: none;
                color: rgb(255, 255, 255);
                background-color:  #d2a149 ;
                margin-right: 3rem;
                transition: all .7s;
                margin-right: 5rem;
                margin-top: -0.5rem;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
             }
             @media only screen and (max-width:430px){
                 grid-row: 2;
                 grid-column: 1;
             }


        }
}
.cont{
    position: absolute;
    right: 3rem;
    z-index: 100;
    opacity: 0;
    display: none;
}

// Content for the hamburger menu
.bcontent{
    display: grid;
    grid-gap: 1.3rem;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(5, mimmax(min-content, max-content));
    padding-left: 3rem;

  
        &__txt1{
            grid-column: 1;
            grid-row: 1;
            font-size: 1.6rem;
            text-decoration: none;
            @media only screen and (max-width:410px){
                grid-column: 2;
                grid-row: 1;
             }
        }
        &__txt2{
            grid-column: 1;
            grid-row: 2;
            font-size: 1.6rem;
            color: black;
            text-decoration: none;

            @media only screen and (max-width:410px){
                grid-column: 2;
                grid-row: 2;
             }
        }
        &__txt3{
            grid-column: 1;
            grid-row: 3;
            font-size: 1.6rem;
            color: black;
            text-decoration: none;

            @media only screen and (max-width:410px){
                grid-column: 2;
                grid-row: 3;
             }
        }
    &__btn1{
        list-style: none;
        @include button-style-one;
        text-decoration: none;
        background-color: var(--starbucks-green);
        grid-column: 1/ span 2;
        grid-row: 5;

        @media only screen and (max-width:410px){
            grid-column: 2;
            grid-row: 6;
         }
            img{
                width: auto;
                height: 1rem;
            }
    }
    &__btn2{
      list-style: none;
      text-decoration: none;
      background-color: rgb(0, 0, 0);
      @include button-style-one;
      grid-column: 1;
      grid-row: 4;
      color: white;

      @media only screen and (max-width:410px){
        grid-column: 2;
        grid-row: 4;
     }
  }
  &__btn3{
      list-style: none;
      text-decoration: none;
      background-color: rgb(0, 0, 0);
      border: 1px solid rgb(0, 0, 0);
      @include button-style-one;
      grid-column: 2;
      grid-row: 4;
      @media only screen and (max-width:410px){
        grid-column: 2;
        grid-row: 5;
     }
     
  }
}

.ham-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

//animations for the hamburger menu
.navigation__hamburger--check:checked ~ .navigation__background{
    transform: scale(30);
    position: relative;
    transform: scale(11,60);
    z-index: 1;
}
.navigation__hamburger--check:checked ~ .cont{
    opacity: 1;
    display: block;
}
.navigation__hamburger--check:checked + .navigation__hamburger--label  .navigation__hamburger--label-1{
    opacity: 0;
}
.navigation__hamburger--check:checked + .navigation__hamburger--label  .navigation__hamburger--label-2{
    transform: rotate(-45deg);
    position: absolute;
    top: 0;
}
.navigation__hamburger--check:checked + .navigation__hamburger--label  .navigation__hamburger--label-3{
    transform: rotate(45deg);
    position: absolute;
    top: 0;
 }